@{
    ViewData["Title"] = "Home Page";
    string[]? days = (string[])ViewData["days"]!;
}

<div class="text-center">
    <h1 class="display-4" style="color: tomato;">Welcome to Comp 4760</h1>
    <h2>Man Sun</h2>
    <h2>A01074365</h2>
    <h2>I want to be a software developer</h2>
</div>
