@model System.Diagnostics.Process
@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<div>
    <table>
        <th>
            id
        </th>
        <th>name</th>
        <th>count</th>
        <tr>

        </tr>
    </table>
</div>